<article class="typed-about-strings">
    <p>{{ post.meta('about_content') }}</p>
</article>
<span class="typed-about"></span>
<div class="about-cta">
    <div class="about-cta-wrapper" style="background-image: url('{{ site.theme.uri }}/dist/img/#')"></div>
    <a href="#">
        <button class="about-btn" aria-label="button about" type="button">contact me</button>
    </a>
</div>
<div class="click-text-wrapper">
    <div class="click-text">
        <div class="text-string">
            <p>click me to speed up text</p>
        </div>
        <div class="monster-img" style="background-image: url('{{ site.theme.uri }}/dist/img/monster.png')"></div>
    </div>
</div>