.about {
    height: calc(100vh - 60px);
    margin: auto;
    opacity: 0;
    position: relative;
    top: rem(60);
    width: calc(100% - 20px);

    @include breakpoint(medium) {
        height: calc(100vh - 80px);
        top: rem(80);
        width: calc(100% - 100px);
    }

    .about-cta {
        background: 50% 50% no-repeat;
        background-size: cover;
        bottom: rem(-150);
        height: rem(150);
        left: calc(50% - 100px);
        position: absolute;
        transform: translateX(calc(-50% + 100px));
        width: rem(100);

        @include breakpoint(medium) {
            bottom: rem(-600);
            height: rem(500);
            left: calc(50% - 350px);
            transform: translateX(calc(-50% + 350px));
            width: rem(350);
        }

        &.animation {
            bottom: rem(0);
            transition: bottom 0.5s cubic-bezier(.88, .22, .15, .77);
        }

        .about-btn {
            background-color: $blue;
            border: none;
            border-radius: 50%;
            bottom: rem(20);
            box-shadow: 0 10px $grey-med;
            color: $white;
            font-size: rem(14);
            height: rem(75);
            outline: none;
            position: absolute;
            right: rem(-37.5);
            width: rem(75);
            transform: translateY(0);
            transition: all 0.3s cubic-bezier(.88, .22, .15, .77);

            @include breakpoint(medium) {
                bottom: rem(50);
                height: rem(100);
                right: rem(-50);
                width: rem(100);
            }

            &:hover {
                cursor: pointer;

                .cursor,
                .cursor-bckground & {
                    display: none;
                }
            }
        }

        .about-cta-wrapper {
            background: 50% 50% no-repeat;
            background-size: cover;
            height: inherit;
            position: relative;
            width: inherit;
        }
    }

    .click-text-wrapper {
        bottom: rem(70);
        color: $white;
        outline: none;
        position: absolute;
        right: 0;
        transition: all 0.3s cubic-bezier(.88, .22, .15, .77);

        @include breakpoint(medium){
            bottom: rem(20);
        }

        .click-text {
            height: rem(95);
            position: relative;
            width: rem(125);

            @include breakpoint(medium) {
                height: rem(125);
                width: rem(155);
            }

            &:hover {
                cursor: pointer;
            }

            .click {
                font-size: rem(9);
            }

            .text,
            .text-string {
                color: $black;
                position: absolute;
                opacity: 0;
                top: rem(20);
                text-align: center;
                font-size: rem(9);

                @include breakpoint(medium) {
                    font-size: rem(10);
                }

                &.animate {
                    top: 0;
                    opacity: 1;
                    transition: 0.3s cubic-bezier(.88, .22, .15, .77) 3s;
                }

                p {
                    margin: 0;
                }
            }

            .monster-img {
                background: 50% 50% no-repeat;
                background-size: contain;
                bottom: 0;
                display: block;
                height: rem(70);
                position: absolute;
                right: 0;
                margin: 0;
                width: rem(56);

                @include breakpoint(medium) {
                    height: rem(80);
                    right: rem(45);
                    width: rem(66);
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        transition: opacity 0.4s cubic-bezier(.88, .22, .15, .77);
                    }
                }

                &:after {
                    background-color: $neon;
                    border-radius: 50%;
                    content: "";
                    display: block;
                    opacity: 0;
                    height: rem(6);
                    position: absolute;
                    right: rem(25);
                    top: rem(32);
                    width: rem(6);
                    transition: opacity 0.4s cubic-bezier(.88, .22, .15, .77);

                    @include breakpoint(medium) {
                        right: rem(30);
                        top: rem(37);
                    }
                }
            }

        }
    }

    .typed-about {
        font-size: rem(18);
        line-height: rem(24);

        @include breakpoint(medium) {
            font-size: rem(28);
            line-height: rem(44);
        }

        &:hover {
            cursor: pointer;
        }

        em {
            @extend %popMed;
            color: $blue;
            font-style: normal;
        }

        b {
            @extend %popMed;
            text-decoration: underline;
        }
    }

    &.animation {
        opacity: 1;
        transition: opacity 0.4s cubic-bezier(.88, .22, .15, .77) 0.3s;
    }

    .typed-cursor {
        font-size: rem(16);
        animation: typedjsBlink 0.9s infinite;

        @include breakpoint(medium) {
            font-size: rem(26);
        }
    }

}