//  Foundation
@import '../../../node_modules/@components/foundation-sites/scss/util/util';

//Fonts
$fa-font-path: '../fonts';

//  Global
$black: #0D0D0F;
$blue: #0000FF;
$cool-black: #010101;
$grey-lig: #E6E6E6;
$grey: #D9DADB;
$grey-med: #464646;
$grey-dark: #38383C;
$neon: #CDFF00;
$red: #EB3E4A;
$white: #FFFFFF;

//  Breakpoints
$breakpoints: (
        small: 324px,
        medium: 768px,
        large: 1024px,
        xlarge: 1200px,
        xxlarge: 1440px,
);

// Variables
$gutter-small: 10px;
$gutter-medium: 25px;
$gutter-large: 50px;

// Gradient
$overlay: linear-gradient(135.0deg, $grey-lig 0%, $black 100%);
